@import url(flex-grid&etc.css);
@import url(fonts.css); // @import url(uikit.min.css);
// @import "uikit/src/scss/uikit-theme.scss";

$color-primary: #ffc875;
$color-secondary: #091f5b;
$color-extra: #ea5f1c;
$color-bg-primary: white;
$color-bg-secondary: #ececec;

$mobile-menu-height: 50px;
$trans-time: .5s;

$change-width: 992px;

$menu-on: '.open-custom-menu';
$modal-on: '.modal-open';

// bootstrap-custom
.height100proc{
  height: 100%;
}

.inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}

.pt-7 {
  padding-top: 50px;
}

// --------------->
.align-items-center {
    display: flex;
    align-items: center;
}
.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}
.align-items-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-decoration-underline {
  text-decoration: underline;
}

.burger-menu-class {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .burger-menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.container-custom {
  margin: 0 180px;
}

* {
    padding: 0;
    margin: 0;



    border-radius: 0;
    border: 0;

    transition: .3s all ease;

}

body {
  // background: rgb(20,65,118);
  // background: linear-gradient(0deg, rgba(20,65,118,1) 0%, rgba(55,135,168,1) 13%, rgba(30,207,244,1) 80%, rgba(38,119,165,1) 100%);
  background-color: #1d6595;
  background-position: center;
  background-repeat: no-repeat;
}

// 1-2_Header
.header_top-head {
  margin-top: 120px;
  .header_top-head-title {
    color: #3ce7fc;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .h2 {
    color: white;
    font-size: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -8px;
  }
}
.header-main-content {
  height: 1000px;
  .header-big-logo {
      display: flex;
      justify-content: flex-end;

      height: 100%;

      background-image: url(../img/header-main-photo.png);
      background-position: left;
      background-repeat: no-repeat;
      background-size: contain;
      .header_second-top-head {
        width: 50%;
        text-align: center;
      }
  }
  .header_main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    .title-block {
      font-family: sans-serif;
      font-size: 20px;

      margin: 20px 0;

      color: white;
    }
    .custom-line {
      height: 4px;
      background-color: #5ae7ff;
      width: 10%;
    }
    .link {
      margin-top: 50px;
      a {
        color: #56ebff;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

// 3_Exploration

.exploration-container {
  .img-wrap {
    img {
      width: 70%;
      display: inline;
    }
  }
  .title{
    margin-bottom: 100px;
    .h2 {
      color: white;
      font-family: sans-serif;
      font-size: 25px;
      font-weight: bold;
    }
  }
  .big-title {
    .h2 {
      color: #fff;
      font-size: 150px;
      font-family: sans-serif;
      font-weight: 700;
      letter-spacing: -4px;
    }
  }
  .exploration__text-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .little-title {
      color: #fff;
      font-family: sans-serif;
      font-size: 25px;
      font-weight: 700;
    }
    .content-text {
      color: white;
      width: 70%;

      line-height: 30px;
    }
  }
  .container__read-more{
    display: flex;
    cursor: pointer;
    position: relative;

    width: 35vh;
    padding: 15px 15px 15px 25px;

    justify-content: space-between;
    border: 2px solid #5ae6ff;
    .container__read-more-text {
      a {
        color: white;

        font-family: sans-serif;
        text-decoration: none;
      }
    }
    .container__read-more-icon {
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      align-items: center;
      display: flex;
      width: 8vh;
      justify-content: center;
      background-color: #54b3c7;
      span {
        color: #fbf664;
      }
    }
  }
}


.header__navbar {
  .header-logo__text {
    margin-left: 25px;
    span {
      color: white;

      font-family: sans-serif;
      font-size: 15px;
      letter-spacing: 35px;
    }
  }
  .container__burger {
    width: 25%;

    padding: 15px 50px 15px 25px;
    border: 2px solid #318cc7;
    .burger-text {
      margin-left: 20px;
      span {
        font-family: sans-serif;
        font-size: 18px;

        color: white;
      }
    }
  }
  .menu {
    text-align: right;
}


.burger-icon {
  .menu__icon {
     display: block;
     width: 25px;
     height: 15px;
     position: relative;
     cursor: pointer;
  }
  .menu__icon:hover ~ .menu__links {
    display: block;
  }
}

.menu__icon span {
  display: block;
  // position: absolute;
  height: 2px;
  width: 100%;
  background: yellow;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;

  margin: 3px 0;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

@media screen and (max-width: 1440px) {
  .menu__icon{
    display: inline-block;
  }

  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }

  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}
}

// Footer

footer {

}
